*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
#cabecalho{
    background-color: rgb(75, 104, 222);
    color: white;
    height: 80px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#formulario{
    display: block;
    margin: 200px;
    text-align: center;
    background-color: rgb(119, 144, 241);
    width: 400px;
    max-width: 400px;
    min-height: 200px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 10px 10px 30px rgb(36, 34, 34);

}
ul{
    list-style: none;
    margin-top: 50px;
    background-color: rgb(254, 255, 255);
    border-radius: 20px;
    border: 2px, solid, black;
    padding: 2px;
}
input{
    width: 350px;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#cadastrar{
    margin-top: 20px;
    height:30px;
    width: 150px;
    background-color: rgb(194, 205, 228);
    font-size: 15px;
    border-radius: 5px;
}
.escondido{
    display: none !important;
}
.concluida {
    text-decoration: line-through; 
    color: #888888;               
    opacity: 0.6;                 
}
